<div>
  <br>
  <h4>Enrollment Period</h4>
</div>

<a href="/local/studentmanager/rates.php" class="btn btn-secondary float-right">Rates</a><br>

<div class="input-group mb-3">
  
  {{! <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Year</label>
  </div> }}

  
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">From</label>
  </div>
  <input type="date" id="startdate" name="startdate"
    value="2022-07-22"
    min="2016-01-01" max="2023-12-31">
  <label for="start">to</label>
  <input type="date" id="enddate" name="enddate"
    value="2022-07-22"
    min="2016-01-01" max="2023-12-31">
  <div class="input-group-append2">
   <button class="btn btn-outline-secondary" type="button" id="search" name="search">Search</button>
  </div>
</div>
