<div class="card">
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Value</th>
      </tr>
    </thead>
    {{#data}}
      <tr>
        <td>{{{firstname}}}</td>
        <td>{{{lastname}}}</td>
        <td>{{{email}}}</td>
        <td>{{{coursename}}}</td>
        <td>{{{startdate}}}</td>
      <td>$999{{totalvalue}}</td>
      </tr>
    {{/data}}
  </table>
  {{^data}}
  <div class="card-body"><p>There are no results from {{startdate}} to {{enddate}}.</p></div>
    {{/data}}
</div>