<div> 
{{! class="card" }}
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Course</th>
        <th>Start Date</th>
        <th>$</th>
      </tr>
    </thead>
    {{#data}}
      <tr>
        <td>{{{firstname}}}</td>
        <td>{{{lastname}}}</td>
        <td>{{{email}}}</td>
        <td>{{{coursename}}}</td>
        <td>{{{startdate}}}</td>
        <td class="text-left">{{value}}</td>
      </tr>
    {{/data}}
  </table>
  {{^data}}
    {{#startdate}}
      {{#enddate}}
      <div class="card-body"><p>There are no results from {{startdate}} to {{enddate}}.</p></div>
      {{/enddate}}
    {{/startdate}}
    {{^startdate}}
     <div class="card-body"><p>Please select a start and end date to query.</p></div>
    {{/startdate}}
  {{/data}}
</div>
<div>
  <br>
  <br>
    {{#costdata}}
      <h3>${{{test}}}</h3>
    {{/costdata}}
    
</div>