<!DOCTYPE html>
<html>
<style>
  .row {
    display: flex;
    justify-content: center;
  }

  .column {
    float: left;
    width: 31%;
    background-color: #25314B;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    max-height: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row .column img {
    max-width: 50%;
    margin: 5px;
    max-height: 15em;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

  }

  body {
    background-color: #141a2a;
    color: white;
    font-family: sans-serif;
    padding: 5px;
  }
</style>
<title>Meet the tutors</title>

<body>
  <div class="row">
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Lizzie.png"> </img>
      <h1>Elizabeth Joannou - Lizzie</h1>
      <p><b>Role:</b> Training Technical Lead</p>
      <p><b>Qualifications:</b> Engineer, Cert IV in training and assessment</p>
      <p><b>Pet of choice:</b> Dog (Rosie)</p>
      <p>Lizzie is the one with the answers. She can help you with complex SAPS calculations and with embarrassing "I
        should know this" questions.
        <br><br>
        Lizzie can approve or deny requests, and she manages remote practicals, extraordinary
        events extensions, course discounts, complaints and other enquiries. Lizzie is usually focused on very important
        work, so if you don't hear back for a couple of days, make sure to contact other tutors and we will follow up.
        <br><br>
        Lizzie will 3D print anything and likes to relax by playing power wash simulator.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Bel.png"> </img>
      <h1>Belinda Lam - Bel</h1>
      <p><b>Role:</b> Training Operations Lead</p>
      <p><b>Qualifications:</b> Engineer, Cert IV in Training and Assessment, Graduate Cert in Learning Sciences and
        Technology</p>
      <p><b>Pet of choice:</b> Tiger impersonating a dog</p>
      <p>Bel is the brains behind the GSES training team. She manages personnel, relationships with third-parties,
        operating procedures, quality assurance, and the day-to-day operations of the team. Bel's primary focus is
        ensuring our student's have an enjoyable learning experience, and that the courses are as engaging and
        interesting as possible. If you have any feedback on your experience, please get in touch!
        <br><br>
        Bel spends most of her spare time playing ultimate frisbee, playing with Tiger, and watching highlights of the
        Sydney Roosters or Golden State Warriors.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Fernanda.png"> </img>
      <h1>Fernanda Oliveira</h1>
      <p><b>Role:</b> Growth Manager</p>
      <p><b>Qualifications:</b> Engineer</p>
      <p><b>Pet of choice:</b> Anything fluffy</p>
      <p>Fernanda handles B2B training, bulk enquiries, business relations, publications and face to face presentations.
        She is always looking for ways GSES can work with others so if you are a brand wanting to partner with us or
        an employer that wants to train your staff, she is your best point of contact.
        <br><br>
        Fernanda likes candle making, yoga and will talk about work over a beer anytime.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Leo.png"> </img>
      <h1>Leo Edwardsson</h1>
      <p><b>Role:</b> Customer Service Representative </p>
      <p><b>Qualifications:</b> IT Specialist</p>
      <p><b>Pet of choice:</b> Cat</p>
      <p>Leo will listen and work on solutions to your problems. He is the voice of GSES Training on the front line
        answering all your phone calls and emails. Leo handles extensions, practical scheduling, course issues, platform
        issues and much more.
        <br><br>
        Leo has lived all over the world and has recently settled back in Australia after living in the US. He enjoys
        cycling and walking to work.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Marco.png"> </img>
      <h1>Marco Cigna</h1>
      <p><b>Role:</b> Tutor/Platform Development Engineer </p>
      <p><b>Qualifications:</b> Engineer</p>
      <p><b>Pet of choice:</b> Dog and Cat (Chaotic Neutral)</p>
      <p>Marco is a trained tutor that can answer your grid-connected and batteries questions. He is also doing amazing
        work on improving our training platform and making our content much better. Need help on your course or help
        with the training platform? Ask for him!
        <br><br>
        Marco is a keen skier and you'll find him at Perisher most winters.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Jerry-1.png"> </img>
      <h1>Jerry Lan</h1>
      <p><b>Role:</b> Tutor/Intern Engineer</p>
      <p><b>Qualifications:</b> Engineer</p>
      <p><b>Pet of choice:</b> Kitten (he specified)</p>
      <p>Jerry is a highly motivated tutor that is working on automating many of our tasks and assessments to give
        tutors more time to work with students. Jerry is trained in grid-connected and batteries and will answer your
        design task related questions. His work days are usually Wednesday, Thursday and Friday.
        <br><br>
        Jerry is an avid climber, a Formula 1 fan and a big lover of ice cream.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Sandip.png"> </img>
      <h1>Sandip Kumar</h1>
      <p><b>Role:</b> Tutor/Trainer/Energy Consultant</p>
      <p><b>Qualifications:</b> Engineer and Electrician</p>
      <p><b>Pet of choice:</b> Fish</p>
      <p>Sandip works remotely in Fiji. He has been with GSES for over 4 years and is an expert on our training. Sandip
        is the main point of contact for our international students and can answer questions on any course and topic.
        Sandip is mostly responsible for marking design tasks and will be happy to schedule a time to chat about them.
        He also engages in capacity development work in the Pacific on RE and also undertakes energy consultancy work.
        <br><br>
        In his spare time he enjoys fishing and living the relaxed island life.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Gazza.png"> </img>
      <h1>Garry Barbuto</h1>
      <p><b>Role:</b> Industry Expert</p>
      <p><b>Qualifications:</b> Engineer and Electrician</p>
      <p><b>Pet of choice:</b> Dog</p>
      <p>Garry is our in-house expert with years of industry experience and working with RTOs. Garry can answer any
        renewables related questions and is also involved with the development and improvement of our courses.
        <br><br>
        Garry enjoys spending time at his off-grid property west of the Blue Mountains where he cooks, works with timber
        and watches the ducks and kangaroos.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Saloni.png"> </img>
      <h1>Saloni Sinha</h1>
      <p><b>Role:</b> Industry Expert</p>
      <p><b>Qualifications:</b> Senior Engineer/Tutor</p>
      <p><b>Pet of choice:</b> Dog</p>
      <p>Saloni is a member of the GSES India Training Team where she works to create comprehensive content for our
        students and keeps all our courses up to date. She is always looking for ways to improve our courses and is our
        in-house expert on PVSyst.
        <br><br>
        In her spare time Saloni likes to travel, listen to music, dance and read novels.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Rashmi.png"> </img>
      <h1>Rashmi Bhengra</h1>
      <p><b>Role:</b> Training Manager</p>
      <p><b>Qualifications:</b> Engineer</p>
      <p><b>Pet of choice:</b> Dog</p>
      <p>Rashmi is part of the GSES India Training Team and is in charge of planning and managing training programs
        within the India team. She also works on pre-feasibility assessments for PV plant sites with GSES India.
        <br><br>
        In Rashmi's spare time she enjoys cooking and exploring new things and new places.
      </p>
    </div>
    <div class="column">
      <img src="https://www.gses.com.au/wp-content/uploads/2022/12/Pradipta.png"> </img>
      <h1>Pradipta Boruah</h1>
      <p><b>Role:</b> Tutor/Quality Assurance Manager</p>
      <p><b>Qualifications:</b> Engineer</p>
      <p><b>Pet of choice:</b> Would like to say dog, but more realistically 5 cats</p>
      <p>Pradipta is part of the GSES India Training Team. He strives to maintain a quality standard in the services we
        provide in addition to strengthening customer relations. Pradipta is always keen to answer your questions, big
        or small.
        <br><br>
        He loves to bake and cook, specifically in that order, and absolutely despises cheesecakes.
      </p>
    </div>
  </div>
</body>

</html>